[submodule "vendor/sfml"]
	path = vendor/sfml
	url = https://github.com/SFML/SFML
	branch = master
[submodule "vendor/gtest"]
	path = vendor/gtest
	url = https://github.com/google/googletest
[submodule "vendor/imgui-sfml"]
	path = vendor/imgui-sfml
	url = https://github.com/SFML/imgui-sfml
